.home_slider {
    border-bottom: 0.5px solid #FFFFFF33;
    padding-bottom: 20px;

    .home_swiper {
        height: 500px;

        .swiper-slide {
            height: 100%;

            .movie_poster {
                height: 100%;

                .poster_img {
                    height: 100%;
                    position: relative;

                    .AsyncImage-root {
                        height: 100%;
                    }

                    img {
                        object-fit: cover;
                        object-position: 50% 10%;
                        width: 100%;
                        height: 100%;
                    }

                    .backdrop {
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
                        bottom: 0;
                        left: 0;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }

                    .movie_info {
                        position: absolute;
                        top: 85%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 1;
                        width: 100%;
                        text-align: center;

                        h1 {
                            color: var(--primary-color);
                            margin: 0;
                        }
                    }
                }
            }
        }

        .swiper-pagination {
            display: flex;
            align-items: center;
            justify-content: center;

            .swiper-pagination-bullet {
                background-color: #ffffff2e;
                width: 12px;
                height: 6px;
                border-radius: 4px;
                opacity: 1;
                transition: all 0.3s ease;
            }

            .swiper-pagination-bullet-active {
                width: 24px;
                height: 8px;
                background: var(--white-color);
                transition: all 0.3s ease;
            }
        }
    }
}

.now_playing_movie {
    padding: 50px 0;

    h1 {
        font-size: calc(2vw + 10px);
        line-height: calc(2vw + 30px);
        margin-bottom: 0px;
        text-align: start;
        color: var(--white-color);
        font-weight: 600;
    }

    .navigation-arrow {
        display: flex;
        justify-content: end;
        column-gap: 15px;

        .playing_prev-button,
        .trending_prev-button {
            width: 48px;
            height: 48px;
            background-color: rgba(255, 255, 255, 0.1607843137);
            color: var(--white-color);
            border: 0.5px solid rgba(255, 255, 255, 0.1607843);
            border-radius: 10px;
            position: unset;
            transition: all 0.3s ease;
            z-index: 10;

            svg {
                path {
                    transition: all 0.3s ease;
                }
            }

            &.swiper-button-disabled {
                opacity: 0;
            }

            &::after {
                font-size: 20px;
                color: white;
            }

            &:hover {
                background-color: var(--primary-color);

                svg {
                    path {
                        stroke: #fff;
                    }
                }
            }
        }

        .playing_next-button,
        .trending_next-button {
            width: 48px;
            height: 48px;
            background-color: var(--primary-color);
            border: none;
            border-radius: 10px;
            position: unset;

            &.swiper-button-disabled {
                opacity: 0;
            }

            svg {
                path {
                    stroke: #fff;
                }
            }
        }
    }

    .swiper {
        margin-top: 20px;
        padding-bottom: 2px;

        .swiper-wrapper {

            .swiper-slide {
                .client_card {
                    padding: 40px;
                    border-radius: 30px;
                    background-color: #f8f9ff;
                    height: 300px;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: var(--primary-color);

                        .client_top {
                            .client_name {
                                h6 {
                                    color: var(--white-color);
                                }

                                p {
                                    color: var(--white-color);
                                }
                            }
                        }

                        .client_content {
                            p {
                                color: var(--white-color);
                            }
                        }
                    }

                    .client_top {
                        display: flex;
                        gap: 20px;
                        align-items: center;
                        margin-bottom: 20px;

                        .client_img {
                            width: 60px;
                            height: 60px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .client_name {
                            h6 {
                                color: #000;
                                font-size: 20px;
                                transition: all 0.3s ease;
                                font-weight: 600;
                            }

                            p {
                                margin: 0;
                                transition: all 0.3s ease;
                            }
                        }
                    }

                    .client_content {
                        p {
                            color: #000;
                            margin: 0;
                            transition: all 0.3s ease;
                        }
                    }
                }

                &.swiper-slide-active:not(:hover) {
                    .client_card {
                        background-color: var(--primary-color);

                        .client_top {
                            .client_name {
                                h6 {
                                    color: var(--white-color);
                                }

                                p {
                                    color: var(--white-color);
                                }
                            }
                        }

                        .client_content {
                            p {
                                color: var(--white-color);
                            }
                        }
                    }
                }

                &:hover:not(.swiper-slide-active) {
                    .swiper-slide-active .client_card {
                        background-color: #f8f9ff;

                        .client_top {
                            .client_name {
                                h6 {
                                    color: #000;
                                }

                                p {
                                    color: #000;
                                }
                            }
                        }

                        .client_content {
                            p {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }

}

.generation_section {
    padding: 50px 0;

    .genre_nav {
        gap: 10px;
        justify-content: center;

        .nav-item {
            .nav-link {
                position: relative;
                display: inline-block;
                background-color: #FFFFFF29;
                color: var(--white-color);
                border: 0.5px solid #FFFFFF29;
                padding: 0 20px;
                height: 48px;
                line-height: 48px;
                border-radius: 12px;
                font-size: 18px;
                text-align: center;
                transition: color 0.3s ease, background-color 0.3s ease;
                overflow: hidden;
                z-index: 1;
                font-weight: 600;

                &:hover {
                    color: var(--white-color);
                }

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background-color: var(--primary-color);
                    z-index: -1;
                    transition: width 0.3s ease, left 0.3s ease;
                }

                &:hover::before,
                &.active::before {
                    width: 100%;
                    left: 0;
                }

                &.active {
                    color: var(--white-color);
                }
            }
        }
    }

    .tab-content {
        margin-top: 40px;

        h1 {
            font-size: calc(2vw + 20px);
            line-height: calc(2vw + 30px);
            margin-bottom: 40px;
            text-align: center;
            color: var(--white-color);
            font-weight: 600;
        }

        .pagination_container {
            width: 100%;

            .pagination {
                justify-content: center;
                margin-bottom: 0;
                gap: 10px;

                .page_item {

                    .page_btn,
                    .next_btn,
                    .prev_btn {
                        background-color: rgba(255, 255, 255, 0.1607843137);
                        color: var(--white-color);
                        border: 0.5px solid rgba(255, 255, 255, 0.1607843137);
                        width: 48px;
                        height: 48px;
                        border-radius: 10px;
                    }

                    .active_btn {
                        background-color: var(--primary-color);
                    }
                }
            }
        }
    }
}

.movie_card {
    filter: drop-shadow(1px 1px 20px 4px #97979733);
    border: 0.6px solid #FFFFFF33;
    border-radius: 20px;
    overflow: hidden;

    .movie_img {
        width: 100%;
        height: 380px;
        overflow: hidden;
        transition: all 0.3s ease;

        .AsyncImage-root {
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.3s ease;
        }
    }

    .movie_info {
        padding: 15px 10px;

        .movie_title {
            font-size: 22px;
            color: var(--white-color);
            margin-bottom: 5px;
            transition: all 0.3s ease;
        }

        .movie_rating {
            color: var(--gray-color);
        }
    }

    &:hover {
        .movie_img {
            img {
                transform: scale(1.1);
            }
        }

        .movie_info {
            .movie_title {
                color: var(--primary-color);
            }
        }
    }
}

.movie-details {
    color: white;
}

.movie_list {
    padding: 50px 0;

    h1 {
        font-size: calc(2vw + 20px);
        line-height: calc(2vw + 30px);
        margin-bottom: 40px;
        text-align: center;
        color: var(--white-color);
        font-weight: 600;
    }
}

.movie_details {
    padding: 50px 0;

    .movie_details_main {
        filter: drop-shadow(1px 1px 20px 4px #97979733);
        border: 0.6px solid #FFFFFF33;
        padding: 50px;
        border-radius: 24px;

        .movie_inner_card {
            max-width: 70%;

            h1 {
                font-size: calc(2vw + 10px);
                line-height: calc(2vw + 20px);
                margin-bottom: 10px;
                text-align: start;
                color: var(--white-color);
                font-weight: 600;
            }

            .main_p {
                font-size: 20px;
                color: var(--gray-color);
                display: flex;
                margin: 0;
                align-items: center;
                gap: 10px;
            }

            .movie_main_card {
                background-color: #FFFFFF29;
                border: 0.5px solid #FFFFFF29;
                border-radius: 12px;
                padding: 20px;
                margin-top: 30px;
                display: flex;
                gap: 15px;

                .movie_main_card_left {
                    max-width: 35%;
                    width: 100%;
                    height: 350px;

                    .AsyncImage-root {
                        width: 100%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                    }

                }

                .movie_main_card_right {
                    max-width: 60%;

                    h5 {
                        font-size: 24px;
                        color: var(--white-color);
                        margin-bottom: 5px;
                        font-weight: 500;
                    }

                    p {
                        font-size: 16px;
                        font-weight: 400;
                        color: var(--gray-color);
                        margin-bottom: 10px;
                    }

                    &:last-child {
                        .movie_dir_name {
                            p {
                                margin: 0;
                            }
                        }
                    }

                    .movie_dir_name {
                        margin-bottom: 5px;

                        &:last-child {
                            margin: 0;
                        }

                        span {
                            color: white;
                        }
                    }
                }
            }

            .movie_det_card {
                background-color: #FFFFFF29;
                border: 0.5px solid #FFFFFF29;
                border-radius: 12px;
                padding: 20px;
                margin-top: 30px;

                h5 {
                    font-size: 24px;
                    line-height: calc(1.2vw + 30px);
                    margin-bottom: 10px;
                    text-align: start;
                    color: var(--primary-color);
                    font-weight: 600;
                }

                .movie_dir_name {
                    margin-bottom: 5px;

                    p {
                        font-size: 18px;
                        font-weight: 400;
                        color: var(--gray-color);
                        margin-bottom: 10px;

                        span {
                            color: white;
                        }
                    }
                }
            }

            .movie_cast {
                background-color: #FFFFFF29;
                border: 0.5px solid #FFFFFF29;
                border-radius: 12px;
                padding: 20px;
                margin-top: 30px;

                .top_cast {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    h5 {
                        font-size: 24px;
                        line-height: calc(1.2vw + 30px);
                        margin-bottom: 0px;
                        text-align: start;
                        color: var(--primary-color);
                        font-weight: 600;
                    }

                    .navigation-arrow {
                        display: flex;
                        justify-content: end;
                        column-gap: 15px;

                        .cast_prev-button {
                            width: 48px;
                            height: 48px;
                            background-color: rgba(255, 255, 255, 0.1607843137);
                            color: var(--white-color);
                            border: 0.5px solid rgba(255, 255, 255, 0.1607843);
                            border-radius: 10px;
                            position: unset;
                            transition: all 0.3s ease;
                            z-index: 10;

                            svg {
                                path {
                                    transition: all 0.3s ease;
                                }
                            }

                            &.swiper-button-disabled {
                                opacity: 0;
                            }

                            &::after {
                                font-size: 20px;
                                color: white;
                            }

                            &:hover {
                                background-color: var(--primary-color);

                                svg {
                                    path {
                                        stroke: #fff;
                                    }
                                }
                            }
                        }

                        .cast_next-button {
                            width: 48px;
                            height: 48px;
                            background-color: var(--primary-color);
                            border: none;
                            border-radius: 10px;
                            position: unset;

                            &.swiper-button-disabled {
                                opacity: 0;
                            }

                            svg {
                                path {
                                    stroke: #fff;
                                }
                            }
                        }
                    }
                }

                .movie_cast-swiper {
                    .movie_cast_card {
                        text-align: center;

                        .AsyncImage-root {
                            width: 100%;
                            height: 180px;
                            border-radius: 8px;
                            margin-bottom: 5px;
                        }

                        h6 {
                            font-size: 16px;
                            color: white;
                            margin-bottom: 5px;
                        }

                        p {
                            margin: 0;
                            color: var(--primary-color);
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }
            }

            .movie_Trailer {
                background-color: #FFFFFF29;
                border: 0.5px solid #FFFFFF29;
                border-radius: 12px;
                padding: 20px;
                margin-top: 30px;

                h5 {
                    font-size: 24px;
                    line-height: calc(1.2vw + 30px);
                    margin-bottom: 0px;
                    text-align: start;
                    color: var(--primary-color);
                    font-weight: 600;
                }

                iframe {
                    width: 100%;
                    margin-top: 10px;
                }
            }

            .movie_related_post {
                margin-top: 30px;

                h5 {
                    font-size: 24px;
                    line-height: calc(1.2vw + 30px);
                    margin-bottom: 0px;
                    text-align: start;
                    color: var(--primary-color);
                    font-weight: 600;
                }
            }

            .movie_screen_shorts {
                margin-top: 30px;

                h5 {
                    font-size: 24px;
                    line-height: calc(1.2vw + 30px);
                    margin-bottom: 10px;
                    text-align: start;
                    color: var(--primary-color);
                    font-weight: 600;
                }

                .screen_shots_main {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    .AsyncImage-root {
                        width: 100%;
                        height: 400px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    p {
                        color: white;
                    }
                }
            }

            .movie_download_link {
                background-color: #FFFFFF29;
                border: 0.5px solid #FFFFFF29;
                border-radius: 12px;
                padding: 20px;
                margin-top: 30px;

                .download_link {
                    text-align: center;
                    margin-bottom: 30px;

                    h5 {
                        font-size: calc(1vw + 8px);
                        margin-bottom: 20px;
                        color: var(--white-color);
                        font-weight: 600;
                    }

                    .download_main_btn {
                        display: flex;
                        gap: 10px;
                        justify-content: center;

                        .google_drive_download_btn {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            padding: 0 20px;
                            height: 40px;
                            line-height: 40px;
                            border-radius: 12px;
                            font-size: 16px;
                            text-align: center;
                            background-color: rgba(255, 255, 255, 0.1607843137);
                            color: var(--white-color);
                            border: 0.5px solid rgba(255, 255, 255, 0.1607843);
                        }

                        .download_btn {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            padding: 0 20px;
                            height: 40px;
                            line-height: 40px;
                            border-radius: 12px;
                            font-size: 16px;
                            text-align: center;
                            background-color: var(--primary-color);
                            border: none;
                            color: white;
                        }

                    }
                }
            }
        }
    }

    .loading_movie {
        height: calc(100vh - 200px);
        filter: drop-shadow(1px 1px 20px 4px #97979733);
        border: 0.6px solid #FFFFFF33;
        padding: 50px;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;

        .spinner-border {
            color: var(--primary-color);
        }
    }

    .no_data_found {
        height: calc(100vh - 200px);
        filter: drop-shadow(1px 1px 20px 4px #97979733);
        border: 0.6px solid #FFFFFF33;
        padding: 50px;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;

        h5 {
            font-size: 20px;
            color: white;
            margin: 0;
        }

        p {
            color: white;
            margin: 0;
        }
    }
}

.footer_section {
    padding: 30px 0;
    border-top: 0.5px solid rgba(255, 255, 255, 0.2);

    .footer_main {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h6 {
            color: var(--gray-color);
            margin: 0;
        }

        ul {
            padding: 0;
            margin: 0;
            display: flex;
            list-style: none;
            color: var(--gray-color);
            gap: 10px;

            li {
                a {
                    color: var(--gray-color);
                }
            }
        }
    }
}

.custom-spinner {
    width: 4rem;
    height: 4rem;
    border-width: 0.3rem;
    color: var(--primary-color);
}

.custom-text {
    color: var(--white-color);

    span {
        color: var(--primary-color);
    }
}

.FourOhFour {
    margin: 50px;
    padding: 50px;
    filter: drop-shadow(1px 1px 20px 4px #97979733);
    border: 0.6px solid #FFFFFF33;
    padding: 50px;
    border-radius: 24px;
    height: calc(100vh - 100px);

    .four_oh_four_main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

        img {
            width: 500px;
        }

        .go_back_btn {
            background-color: var(--primary-color);
            padding: 0 20px;
            height: 50px;
            border: none;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color: white;
        }

    }

}

.terms_section {
    margin: 50px 0;

    .terms_content {
        padding: 50px;
        filter: drop-shadow(1px 1px 20px 4px #97979733);
        border: 0.6px solid #FFFFFF33;
        padding: 50px;
        border-radius: 24px;

        h1 {
            font-size: calc(2vw + 10px);
            line-height: calc(2vw + 30px);
            margin-bottom: 20px;
            text-align: center;
            color: var(--white-color);
            font-weight: 600;
        }

        p {
            color: var(--gray-color);
        }

        h2 {
            color: var(--primary-color);
            font-size: 20px;
        }

        ul {
            li {
                color: var(--gray-color);
            }
        }
    }
}

@media (max-width:1200px) {
    .movie_details .movie_details_main .movie_inner_card .movie_main_card .movie_main_card_left {
        max-width: 40%;
        height: 300px;
    }
}

@media (max-width:991px) {

    .movie_card .movie_img {
        height: 300px;
    }

    .movie_card .movie_info .movie_title {
        font-size: 18px;
    }

    .home_slider .home_swiper {
        height: 400px;
    }

    .movie_details .movie_details_main .movie_inner_card {
        max-width: 100%;
    }

    .movie_details .movie_details_main {
        padding: 30px;
    }
}

@media (max-width:500px) {
    .footer_section .footer_main {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width:480px) {
    .movie_details .movie_details_main .movie_inner_card .movie_main_card {
        flex-direction: column;
    }

    .movie_details .movie_details_main .movie_inner_card .movie_main_card .movie_main_card_left {
        max-width: 70%;
        height: 300px;
    }

    .movie_details .movie_details_main .movie_inner_card .movie_main_card .movie_main_card_right {
        max-width: 100%;
    }

    .movie_details .movie_details_main .movie_inner_card .movie_det_card .movie_dir_name p,
    .movie_details .movie_details_main .movie_inner_card .movie_main_card .movie_main_card_right p {
        font-size: 14px;
    }


    .movie_details .movie_details_main .movie_inner_card .movie_Trailer h5,
    .movie_details .movie_details_main .movie_inner_card .movie_screen_shorts h5,
    .movie_details .movie_details_main .movie_inner_card .movie_det_card h5 {
        font-size: 22px;
    }

    .movie_details .movie_details_main .movie_inner_card .movie_cast .top_cast h5 {
        font-size: 20px;
    }

    .movie_details .movie_details_main {
        padding: 20px;
    }

    .movie_details .movie_details_main .movie_inner_card h1 {
        font-size: 24px;
        margin-bottom: 0;
    }

    .movie_details .movie_details_main .movie_inner_card .movie_download_link .download_link h5 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .movie_details .movie_details_main .movie_inner_card .movie_screen_shorts .screen_shots_main .AsyncImage-root {
        height: 250px;
    }

    .movie_details .movie_details_main .movie_inner_card .movie_main_card .movie_main_card_right h5 {
        font-size: 22px;
    }

    .now_playing_movie {
        padding-top: 0;
    }

    .generation_section .genre_nav .nav-item .nav-link {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        padding: 0 10px;
    }

    .movie_card .movie_info .movie_title {
        font-size: 16px;
    }

    .movie_card .movie_info .movie_rating {
        font-size: 14px;
    }

    .now_playing_movie .navigation-arrow {
        gap: 10px;
    }

    .home_slider .home_swiper {
        height: 300px;
    }

    .now_playing_movie .navigation-arrow .playing_prev-button,
    .now_playing_movie .navigation-arrow .trending_prev-button,
    .now_playing_movie .navigation-arrow .playing_prev-button,
    .now_playing_movie .navigation-arrow .trending_prev-button .now_playing_movie .navigation-arrow .playing_prev-button.swiper-button-disabled,
    .now_playing_movie .navigation-arrow .trending_prev-button.swiper-button-disabled,
    .now_playing_movie .navigation-arrow .playing_next-button,
    .now_playing_movie .navigation-arrow .trending_next-button {
        width: 40px;
        height: 40px;
    }

    .home_slider .home_swiper .swiper-pagination .swiper-pagination-bullet {
        margin: 0 5px;
    }
}

@media (max-width:400px) {
    .movie_details .movie_details_main .movie_inner_card .movie_screen_shorts .screen_shots_main .AsyncImage-root {
        height: 200px;
    }

    .movie_details .movie_details_main .movie_inner_card .movie_download_link .download_link .download_main_btn .download_btn {
        font-size: 14px;
        justify-content: center;
    }

    .movie_details .movie_details_main .movie_inner_card .movie_download_link .download_link .download_btn .google_drive_download_btn svg {
        width: 20px;
        height: 20px;
    }

    .movie_details .movie_details_main .movie_inner_card .movie_download_link .download_link .download_main_btn .google_drive_download_btn {
        font-size: 14px;
        justify-content: center;
    }

    .movie_details .movie_details_main .movie_inner_card .movie_download_link .download_link .download_main_btn {
        flex-direction: column;
    }

    .movie_details .no_data_found img {
        width: 100%;
    }

    .movie_details .no_data_found {
        height: calc(100vh - 250px);
        min-height: 400px;
    }
}

@media (max-width:390px) {
    .movie_card .movie_img {
        height: 250px;
    }

    .movie_details .movie_details_main .movie_inner_card .movie_main_card .movie_main_card_left {
        max-width: 80%;
        height: 250px;
    }

    .movie_details .movie_details_main .movie_inner_card .movie_cast .movie_cast-swiper .movie_cast_card .AsyncImage-root {
        height: 140px;
    }
}